telegram_workflow_FIXED.json
{
  "name": "telegram_workflow",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7211e46-0f49-46a0-9cb7-e83fed150efd",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "85edf561-8f5e-4215-9e19-78ff0392068e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1824,
        640
      ],
      "id": "f7d58443-f801-49d8-8d3c-da5282d127d4",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "950c42d5-cb17-40a4-8940-ccaf54128347",
      "name": "Receive Image (Telegram Trigger)",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -2048,
        656
      ],
      "webhookId": "3bbd63a0-7cbc-4a27-a381-23d83301a19f",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}",
        "text": "ต้องการอะไรนะ ขออีกรอบ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1600,
        848
      ],
      "id": "5b8c040e-755f-4520-b913-5f44805a58a5",
      "name": "Send a text message4",
      "webhookId": "f79ebb63-032f-4b1f-8d9b-0e7e537a9648",
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}",
        "text": "อยากให้ทำอะไรกับภาพนี้",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "สร้างภาพ",
                    "additionalFields": {
                      "callback_data": "=create_pic"
                    }
                  },
                  {
                    "text": "แก้ไขภาพ",
                    "additionalFields": {
                      "callback_data": "=edit_pic"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "เก็บภาพ",
                    "additionalFields": {
                      "callback_data": "=keep_pic"
                    }
                  },
                  {
                    "text": "วิเคราะห์ภาพ",
                    "additionalFields": {
                      "callback_data": "=analysis"
                    }
                  },
                  {
                    "text": "แกะตัวอักษร",
                    "additionalFields": {
                      "callback_data": "=ocr"
                    }
                  },
                  {
                    "text": "แก้บิลน้ำมัน",
                    "additionalFields": {
                      "callback_data": "=oil"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1600,
        336
      ],
      "id": "a28cd0ec-d2b2-453b-9168-4c7c21000d43",
      "name": "image",
      "webhookId": "5b6aeb08-5c40-4feb-ad07-1c3ba645318a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}",
        "text": "อยากให้ช่วยอะไร",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "ขอลิ้งcremo",
                    "additionalFields": {
                      "callback_data": "=cremo | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}"
                    }
                  },
                  {
                    "text": "ข้อมูลลุกค้า",
                    "additionalFields": {
                      "callback_data": "=data | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "check_admin",
                    "additionalFields": {
                      "callback_data": "=check_admin | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}"
                    }
                  },
                  {
                    "text": "update_โปรโมชั่น",
                    "additionalFields": {
                      "callback_data": "=promotion | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}"
                    }
                  },
                  {
                    "text": "ขอข้อมูลค่าใช้จ่าย",
                    "additionalFields": {
                      "callback_data": "=check_price | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "check_post",
                    "additionalFields": {
                      "callback_data": "=check_post | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1600,
        656
      ],
      "id": "08460ed5-eb41-4718-80a0-cfe90d51e8a3",
      "name": "text",
      "webhookId": "5b6aeb08-5c40-4feb-ad07-1c3ba645318a",
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7211e46-0f49-46a0-9cb7-e83fed150efd",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create_pic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][1].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "85edf561-8f5e-4215-9e19-78ff0392068e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit_pic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2eb551df-d86a-4c20-b4da-dc35729f0c29",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[1][0].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "keep_pic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "605438ae-524e-40de-812c-609c11c9ac95",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[1][1].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image analysis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bbc50b0-a387-4ffd-8a59-8c065c49703b",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[1][2].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ocr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0dd55dab-d54f-4c25-9227-8f72d103c70e",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[1][3].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "oil"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1376,
        256
      ],
      "id": "61fa93c0-69b5-4b04-88b4-acfebec84091",
      "name": "Switch2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7211e46-0f49-46a0-9cb7-e83fed150efd",
                    "leftValue": "=cremo | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cremo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "=data | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "85edf561-8f5e-4215-9e19-78ff0392068e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2eb551df-d86a-4c20-b4da-dc35729f0c29",
                    "leftValue": "=check_admin | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "605438ae-524e-40de-812c-609c11c9ac95",
                    "leftValue": "=promotion | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "promotion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bbc50b0-a387-4ffd-8a59-8c065c49703b",
                    "leftValue": "=check_price | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_price"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8deea768-cbc9-483d-ab28-6985fe567e58",
                    "leftValue": "=check_post | {{ $('Receive Image (Telegram Trigger)').item.json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "check_post"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1376,
        576
      ],
      "id": "7a6cdd92-b44b-4ec7-bd8e-ea2a24da623d",
      "name": "Switch3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}",
        "text": "อยากให้ทำอะไรกับภาพนี้",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "สร้างภาพ cremo",
                    "additionalFields": {
                      "callback_data": "=cremo_image"
                    }
                  },
                  {
                    "text": "สร้างภาพ สินค้าใหม่",
                    "additionalFields": {
                      "callback_data": "=image_templete"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1152,
        32
      ],
      "id": "0bd239d2-ee95-46ca-a282-4985b05c3b4e",
      "name": "image_choice",
      "webhookId": "5b6aeb08-5c40-4feb-ad07-1c3ba645318a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7211e46-0f49-46a0-9cb7-e83fed150efd",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cremo_image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][1].callback_data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "85edf561-8f5e-4215-9e19-78ff0392068e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image_templete"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -928,
        16
      ],
      "id": "870d7db4-54f3-4051-826a-0a89dc5657f6",
      "name": "Switch4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}",
        "message": "ใช้ templete ในการสร้างภาพหรือไม่",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 2,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "id": "20ff4fb0-60ff-4901-85a4-22b68e662866",
      "name": "Send message and wait for response",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -704,
        -64
      ],
      "webhookId": "9d4e8875-5724-4e8f-a2fd-2020f646aae8",
      "typeVersion": 1.2,
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "26f47c7f-6a13-4bbe-87e3-cb980d86d2ea",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6555bd6-43c3-45bb-8bc6-aa13974439c5",
      "name": "Check templete Approval (Yes/No)",
      "type": "n8n-nodes-base.if",
      "position": [
        -480,
        -64
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}",
        "text": "ต้องการอะไรนะ ขออีกรอบ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        128
      ],
      "id": "7c1ba791-e6f6-436d-b79e-fbcce342449d",
      "name": "Send a text message",
      "webhookId": "f79ebb63-032f-4b1f-8d9b-0e7e537a9648",
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1m49cfbWcQVrR3FN",
          "mode": "list",
          "cachedResultUrl": "/workflow/1m49cfbWcQVrR3FN",
          "cachedResultName": "create_image_no_templete"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_photo": "={{ $('Receive Image (Telegram Trigger)').item.json.message.photo }}",
            "data_approved": "={{ $('Check templete Approval (Yes/No)').item.json.data.approved }}",
            "message_chat_id": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}"
          },
          "matchingColumns": [
            "message_photo",
            "data_approved",
            "message_chat_id"
          ],
          "schema": [
            {
              "id": "message_photo",
              "displayName": "message_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_approved",
              "displayName": "data_approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_chat_id",
              "displayName": "message_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -272,
        0
      ],
      "name": "Call create_image_no_templete",
      "id": "037cf44b-e4f8-4394-980a-28ad08a5bf01"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CUiFChIrnD8calHH",
          "mode": "list",
          "cachedResultUrl": "/workflow/CUiFChIrnD8calHH",
          "cachedResultName": "create_image_with_templete"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message_chat_id": "={{ $('Receive Image (Telegram Trigger)').item.json.message.chat.id }}",
            "data_approved": "={{ $('Send message and wait for response').item.json.data.approved }}",
            "message_photo": "={{ $('Receive Image (Telegram Trigger)').item.json.message.photo }}"
          },
          "matchingColumns": [
            "message_chat_id",
            "data_approved",
            "message_photo"
          ],
          "schema": [
            {
              "id": "message_chat_id",
              "displayName": "message_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_approved",
              "displayName": "data_approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_photo",
              "displayName": "message_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -272,
        -176
      ],
      "name": "Call create_image_with_templete",
      "id": "6c136e86-d6e9-40f3-bb03-e5741af93e54"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chat_id }}",
        "binaryData": false,
        "photo": "={{ $json.image_url }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "➕ เพิ่มข้อความ",
                    "additionalFields": {
                      "callback_data": "=add_text|{{ $json.image_url }}|{{ $json.chat_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "นี่คือภาพที่สร้างแล้ว! คุณสามารถเพิ่มข้อความได้โดยกดปุ่มด้านล่าง",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -88
      ],
      "id": "NEW-TELEGRAM-SEND-PHOTO-NODE",
      "name": "Send Generated Image with Text Overlay Option",
      "webhookId": "text-overlay-option-webhook",
      "credentials": {
        "telegramApi": {
          "id": "cVsxbuKT0ksNnLe7",
          "name": "main_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Image (Telegram Trigger)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "image_choice",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "image_choice": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Check templete Approval (Yes/No)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check templete Approval (Yes/No)": {
      "main": [
        [
          {
            "node": "Call create_image_with_templete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call create_image_no_templete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call create_image_no_templete": {
      "main": [
        [
          {
            "node": "Send Generated Image with Text Overlay Option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call create_image_with_templete": {
      "main": [
        [
          {
            "node": "Send Generated Image with Text Overlay Option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c36fc89d-9e77-4a46-8e7e-d578e32fb0cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9d0da18b6ad595c332629b28a036781bc2cc47959b784cd407457237feadcd8"
  },
  "id": "7oNP95VVzV2pR10y",
  "tags": [
    {
      "updatedAt": "2025-11-07T03:39:25.280Z",
      "createdAt": "2025-11-07T03:39:25.280Z",
      "id": "spipCIXSLMhetPOL",
      "name": "telegram"
    }
  ]
}
