text_overlay_processor.json
{
  "name": "text_overlay_processor",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "image_url",
              "type": "string"
            },
            {
              "name": "text_content",
              "type": "string"
            },
            {
              "name": "template_id",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Simple Cloudinary Text Overlay Builder\n// Based on Enhanced_Cloudinary_URL_Builder.js\n\nconst cloudName = \"dz3cmaxnc\";\nconst imageUrl = $input.first().json.image_url;\nconst textContent = $input.first().json.text_content;\nconst templateId = $input.first().json.template_id || \"default\";\n\n// Text overlay configuration based on template\nconst templates = {\n  \"flash_sale\": {\n    font: \"Arial\",\n    size: 90,\n    weight: \"bold\",\n    color: \"FF0000\",\n    stroke_enabled: true,\n    stroke_color: \"FFD700\",\n    stroke_width: 8,\n    shadow_enabled: true,\n    shadow_strength: 70,\n    position: \"north\",\n    x_offset: 0,\n    y_offset: 30,\n    max_width: 950\n  },\n  \"success_story\": {\n    font: \"Arial\",\n    size: 80,\n    weight: \"bold\",\n    color: \"FFD700\",\n    stroke_enabled: true,\n    stroke_color: \"3B5998\",\n    stroke_width: 5,\n    shadow_enabled: true,\n    shadow_strength: 50,\n    position: \"north\",\n    x_offset: 0,\n    y_offset: 50,\n    max_width: 800\n  },\n  \"community_moments\": {\n    font: \"Arial\",\n    size: 70,\n    weight: \"bold\",\n    color: \"FFFFFF\",\n    stroke_enabled: true,\n    stroke_color: \"E74C3C\",\n    stroke_width: 4,\n    shadow_enabled: true,\n    shadow_strength: 40,\n    position: \"center\",\n    background_enabled: true,\n    background_color: \"000000\",\n    background_opacity: 50,\n    x_offset: 0,\n    y_offset: 0,\n    max_width: 850\n  },\n  \"default\": {\n    font: \"Arial\",\n    size: 80,\n    weight: \"bold\",\n    color: \"FFFFFF\",\n    stroke_enabled: true,\n    stroke_color: \"000000\",\n    stroke_width: 5,\n    position: \"north\",\n    y_offset: 30,\n    max_width: 900\n  }\n};\n\nconst config = templates[templateId] || templates[\"default\"];\n\n// Build text layer\nfunction buildTextLayer(text, config) {\n  const encodedText = encodeURIComponent(text);\n  const font = config.font || \"Arial\";\n  const size = config.size || 80;\n  const weight = config.weight || \"bold\";\n  const color = config.color || \"FFFFFF\";\n  const maxWidth = config.max_width || 900;\n  const align = config.align || \"center\";\n  \n  let layer = `l_text:${font}_${size}_${weight}_${align}:${encodedText},w_${maxWidth},c_fit,co_rgb:${color}`;\n  \n  // Add stroke\n  if (config.stroke_enabled) {\n    const strokeColor = config.stroke_color || \"000000\";\n    const strokeWidth = config.stroke_width || 5;\n    layer += `/co_rgb:${strokeColor},e_outline:${strokeWidth}`;\n  }\n  \n  // Add shadow\n  if (config.shadow_enabled) {\n    const shadowStrength = config.shadow_strength || 50;\n    layer += `/e_shadow:${shadowStrength}`;\n  }\n  \n  // Add background\n  if (config.background_enabled) {\n    const bgColor = config.background_color || \"000000\";\n    const bgOpacity = config.background_opacity || 80;\n    layer += `/b_rgb:${bgColor},o_${bgOpacity}`;\n  }\n  \n  // Position\n  const pos = config.position || \"north\";\n  const xOffset = config.x_offset || 0;\n  const yOffset = config.y_offset || 0;\n  \n  layer += `/fl_layer_apply,g_${pos}`;\n  if (xOffset !== 0) layer += `,x_${xOffset}`;\n  if (yOffset !== 0) layer += `,y_${yOffset}`;\n  \n  return layer;\n}\n\n// Build Cloudinary URL\nconst textLayer = buildTextLayer(textContent, config);\nconst baseTransform = \"w_1080,h_1080,c_fill\";\nconst cloudinaryUrl = `https://res.cloudinary.com/${cloudName}/image/upload/${baseTransform}/${textLayer}/f_auto,q_auto/${encodeURIComponent(imageUrl)}`;\n\n// Build preview URL\nconst previewTransform = \"w_400,h_400,c_fill\";\nconst previewUrl = `https://res.cloudinary.com/${cloudName}/image/upload/${previewTransform}/${textLayer}/f_auto,q_auto:low/${encodeURIComponent(imageUrl)}`;\n\nreturn [{\n  json: {\n    success: true,\n    cloudinary_url: cloudinaryUrl,\n    preview_url: previewUrl,\n    text_applied: textContent,\n    template_used: templateId,\n    transformation_details: {\n      base: baseTransform,\n      text_layer: textLayer,\n      image_source: imageUrl\n    },\n    config_used: config\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Build Cloudinary URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.cloudinary_url }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Fetch Cloudinary Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Cloudinary URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cloudinary URL": {
      "main": [
        [
          {
            "node": "Fetch Cloudinary Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "text-overlay-v2",
  "meta": {
    "instanceId": "text-overlay-processor-v2-simple"
  },
  "tags": []
}
