text_overlay_interactive.json
{
  "name": "Text Overlay Interactive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "text-overlay-form",
        "options": {}
      },
      "id": "a1b2c3d4-1111-1111-1111-111111111111",
      "name": "Webhook Form Display",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "text-overlay-form-display"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $node['Read HTML Template'].json.data }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-2222-2222-2222-222222222222",
      "name": "Respond with HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Read HTML template and inject dynamic data\nconst imageUrl = $('Webhook Form Display').first().json.query.image_url || '';\nconst chatId = $('Webhook Form Display').first().json.query.chat_id || '';\n\n// HTML Template\nconst html = `<!DOCTYPE html>\n<html lang=\"th\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>ปรับแต่งข้อความบนรูปภาพ/วิดีโอ</title>\n    <style>\n        * { margin: 0; padding: 0; box-sizing: border-box; }\n        body {\n            font-family: 'Sarabun', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            padding: 20px;\n            min-height: 100vh;\n        }\n        .container {\n            max-width: 800px;\n            margin: 0 auto;\n            background: white;\n            border-radius: 20px;\n            box-shadow: 0 20px 60px rgba(0,0,0,0.3);\n            overflow: hidden;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        .header h1 { font-size: 28px; margin-bottom: 10px; }\n        .header p { opacity: 0.9; font-size: 14px; }\n        .preview-section {\n            padding: 20px;\n            background: #f8f9fa;\n            border-bottom: 1px solid #e9ecef;\n        }\n        .preview-container {\n            position: relative;\n            width: 100%;\n            max-width: 600px;\n            margin: 0 auto;\n            border-radius: 10px;\n            overflow: hidden;\n            box-shadow: 0 4px 15px rgba(0,0,0,0.1);\n        }\n        #imagePreview { width: 100%; height: auto; display: block; }\n        .form-section { padding: 30px; }\n        .form-group { margin-bottom: 25px; }\n        label {\n            display: block;\n            margin-bottom: 8px;\n            font-weight: 600;\n            color: #2c3e50;\n            font-size: 14px;\n        }\n        .label-with-value {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n        }\n        .current-value {\n            background: #667eea;\n            color: white;\n            padding: 4px 12px;\n            border-radius: 20px;\n            font-size: 13px;\n            font-weight: 500;\n        }\n        input[type=\"text\"], input[type=\"number\"], textarea, select {\n            width: 100%;\n            padding: 12px 15px;\n            border: 2px solid #e9ecef;\n            border-radius: 10px;\n            font-size: 15px;\n            transition: all 0.3s;\n            font-family: inherit;\n        }\n        input:focus, textarea:focus, select:focus {\n            outline: none;\n            border-color: #667eea;\n            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);\n        }\n        textarea { resize: vertical; min-height: 80px; }\n        .slider-group { display: flex; gap: 15px; align-items: center; }\n        .slider-wrapper { flex: 1; }\n        input[type=\"range\"] {\n            width: 100%;\n            height: 8px;\n            border-radius: 5px;\n            background: #e9ecef;\n            outline: none;\n            -webkit-appearance: none;\n        }\n        input[type=\"range\"]::-webkit-slider-thumb {\n            -webkit-appearance: none;\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            background: #667eea;\n            cursor: pointer;\n            box-shadow: 0 2px 5px rgba(0,0,0,0.2);\n        }\n        input[type=\"range\"]::-moz-range-thumb {\n            width: 20px;\n            height: 20px;\n            border-radius: 50%;\n            background: #667eea;\n            cursor: pointer;\n            border: none;\n        }\n        .number-input { width: 80px; flex-shrink: 0; }\n        .color-input-group { display: flex; gap: 10px; align-items: center; }\n        input[type=\"color\"] {\n            width: 60px;\n            height: 45px;\n            border: 2px solid #e9ecef;\n            border-radius: 10px;\n            cursor: pointer;\n        }\n        .color-hex { flex: 1; }\n        .checkbox-group {\n            display: flex;\n            align-items: center;\n            gap: 10px;\n            padding: 12px;\n            background: #f8f9fa;\n            border-radius: 10px;\n        }\n        input[type=\"checkbox\"] { width: 20px; height: 20px; cursor: pointer; }\n        .toggle-content {\n            margin-top: 15px;\n            padding: 15px;\n            background: #f8f9fa;\n            border-radius: 10px;\n            display: none;\n        }\n        .toggle-content.active { display: block; }\n        .position-grid {\n            display: grid;\n            grid-template-columns: repeat(3, 1fr);\n            gap: 10px;\n            margin-bottom: 15px;\n        }\n        .position-btn {\n            padding: 15px;\n            border: 2px solid #e9ecef;\n            border-radius: 10px;\n            background: white;\n            cursor: pointer;\n            transition: all 0.3s;\n            font-size: 20px;\n            text-align: center;\n        }\n        .position-btn:hover { background: #f8f9fa; }\n        .position-btn.active {\n            background: #667eea;\n            color: white;\n            border-color: #667eea;\n        }\n        .media-type-toggle { display: flex; gap: 10px; margin-bottom: 20px; }\n        .media-btn {\n            flex: 1;\n            padding: 12px;\n            border: 2px solid #e9ecef;\n            border-radius: 10px;\n            background: white;\n            cursor: pointer;\n            font-size: 15px;\n            font-weight: 600;\n            transition: all 0.3s;\n        }\n        .media-btn.active {\n            background: #667eea;\n            color: white;\n            border-color: #667eea;\n        }\n        .video-options { display: none; }\n        .video-options.active { display: block; }\n        .time-inputs { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; }\n        .button-group { display: flex; gap: 15px; margin-top: 30px; }\n        button {\n            flex: 1;\n            padding: 15px 30px;\n            border: none;\n            border-radius: 10px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s;\n            font-family: inherit;\n        }\n        .btn-preview {\n            background: white;\n            color: #667eea;\n            border: 2px solid #667eea;\n        }\n        .btn-preview:hover { background: #f8f9fa; }\n        .btn-submit {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n        }\n        .btn-submit:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 5px 20px rgba(102, 126, 234, 0.4);\n        }\n        .info-box {\n            background: #e3f2fd;\n            border-left: 4px solid #2196f3;\n            padding: 15px;\n            border-radius: 5px;\n            margin-bottom: 20px;\n            font-size: 14px;\n            color: #1565c0;\n        }\n        .loading { text-align: center; padding: 20px; display: none; }\n        .loading.active { display: block; }\n        .spinner {\n            border: 4px solid #f3f3f3;\n            border-top: 4px solid #667eea;\n            border-radius: 50%;\n            width: 40px;\n            height: 40px;\n            animation: spin 1s linear infinite;\n            margin: 0 auto;\n        }\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🎨 ปรับแต่งข้อความ</h1>\n            <p>ใส่ตัวอักษรบนรูปภาพ/วิดีโอ ด้วย Cloudinary</p>\n        </div>\n\n        <div class=\"preview-section\">\n            <div class=\"preview-container\">\n                <img id=\"imagePreview\" src=\"${imageUrl}\" alt=\"Preview\">\n            </div>\n        </div>\n\n        <div class=\"form-section\">\n            <div class=\"info-box\">\n                💡 <strong>เคล็ดลับ:</strong> ใช้ slider สำหรับปรับเร็ว หรือพิมพ์ตัวเลขเพื่อความแม่นยำ\n            </div>\n\n            <form id=\"textOverlayForm\">\n                <div class=\"form-group\">\n                    <label>ประเภทสื่อ</label>\n                    <div class=\"media-type-toggle\">\n                        <button type=\"button\" class=\"media-btn active\" data-type=\"image\">📷 รูปภาพ</button>\n                        <button type=\"button\" class=\"media-btn\" data-type=\"video\">🎬 วิดีโอ</button>\n                    </div>\n                </div>\n\n                <div class=\"video-options\" id=\"videoOptions\">\n                    <div class=\"form-group\">\n                        <label>⏱️ เวลาแสดงข้อความ (วินาที)</label>\n                        <div class=\"time-inputs\">\n                            <div>\n                                <label style=\"font-size: 13px; color: #6c757d;\">เริ่มต้น</label>\n                                <input type=\"number\" id=\"startTime\" min=\"0\" step=\"0.1\" value=\"0\">\n                            </div>\n                            <div>\n                                <label style=\"font-size: 13px; color: #6c757d;\">สิ้นสุด</label>\n                                <input type=\"number\" id=\"endTime\" min=\"0\" step=\"0.1\" value=\"10\">\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"checkbox-group\">\n                        <input type=\"checkbox\" id=\"fadeEffect\">\n                        <label for=\"fadeEffect\" style=\"margin: 0;\">เพิ่ม Fade In/Out (1 วินาที)</label>\n                    </div>\n                </div>\n\n                <div class=\"form-group\">\n                    <label>📝 ข้อความ</label>\n                    <textarea id=\"textContent\" placeholder=\"พิมพ์ข้อความที่ต้องการใส่...\" required></textarea>\n                </div>\n\n                <div class=\"form-group\">\n                    <div class=\"label-with-value\">\n                        <label>📏 ขนาดตัวอักษร</label>\n                        <span class=\"current-value\" id=\"fontSizeValue\">60</span>\n                    </div>\n                    <div class=\"slider-group\">\n                        <div class=\"slider-wrapper\">\n                            <input type=\"range\" id=\"fontSize\" min=\"10\" max=\"200\" value=\"60\" step=\"1\">\n                        </div>\n                        <input type=\"number\" id=\"fontSizeNumber\" class=\"number-input\" min=\"10\" max=\"200\" value=\"60\">\n                    </div>\n                </div>\n\n                <div class=\"form-group\">\n                    <div class=\"label-with-value\">\n                        <label>🌈 โค้งตัวอักษร (Arc Curve)</label>\n                        <span class=\"current-value\" id=\"arcValue\">0°</span>\n                    </div>\n                    <div class=\"slider-group\">\n                        <div class=\"slider-wrapper\">\n                            <input type=\"range\" id=\"arcCurve\" min=\"-180\" max=\"180\" value=\"0\" step=\"5\">\n                        </div>\n                        <input type=\"number\" id=\"arcNumber\" class=\"number-input\" min=\"-180\" max=\"180\" value=\"0\">\n                    </div>\n                </div>\n\n                <div class=\"form-group\">\n                    <label>🎨 สีตัวอักษร</label>\n                    <div class=\"color-input-group\">\n                        <input type=\"color\" id=\"textColor\" value=\"#ffffff\">\n                        <input type=\"text\" id=\"textColorHex\" class=\"color-hex\" value=\"#ffffff\">\n                    </div>\n                </div>\n\n                <div class=\"form-group\">\n                    <label>✍️ น้ำหนักตัวอักษร</label>\n                    <select id=\"fontWeight\">\n                        <option value=\"normal\">ปกติ (Normal)</option>\n                        <option value=\"bold\">หนา (Bold)</option>\n                    </select>\n                </div>\n\n                <div class=\"form-group\">\n                    <label>📐 การจัดตำแหน่ง</label>\n                    <select id=\"textAlign\">\n                        <option value=\"center\">กึ่งกลาง (Center)</option>\n                        <option value=\"left\">ซ้าย (Left)</option>\n                        <option value=\"right\">ขวา (Right)</option>\n                    </select>\n                </div>\n\n                <div class=\"form-group\">\n                    <label>📍 ตำแหน่งบนรูป</label>\n                    <div class=\"position-grid\">\n                        <button type=\"button\" class=\"position-btn\" data-position=\"north_west\">↖️</button>\n                        <button type=\"button\" class=\"position-btn\" data-position=\"north\">⬆️</button>\n                        <button type=\"button\" class=\"position-btn\" data-position=\"north_east\">↗️</button>\n                        <button type=\"button\" class=\"position-btn\" data-position=\"west\">⬅️</button>\n                        <button type=\"button\" class=\"position-btn active\" data-position=\"center\">🎯</button>\n                        <button type=\"button\" class=\"position-btn\" data-position=\"east\">➡️</button>\n                        <button type=\"button\" class=\"position-btn\" data-position=\"south_west\">↙️</button>\n                        <button type=\"button\" class=\"position-btn\" data-position=\"south\">⬇️</button>\n                        <button type=\"button\" class=\"position-btn\" data-position=\"south_east\">↘️</button>\n                    </div>\n\n                    <div style=\"margin-top: 15px;\">\n                        <label style=\"font-size: 13px; color: #6c757d;\">ปรับตำแหน่งละเอียด (X, Y offset)</label>\n                        <div class=\"slider-group\" style=\"margin-bottom: 10px;\">\n                            <span style=\"width: 30px;\">X:</span>\n                            <div class=\"slider-wrapper\">\n                                <input type=\"range\" id=\"xOffset\" min=\"-500\" max=\"500\" value=\"0\" step=\"5\">\n                            </div>\n                            <input type=\"number\" id=\"xOffsetNumber\" class=\"number-input\" min=\"-500\" max=\"500\" value=\"0\">\n                        </div>\n                        <div class=\"slider-group\">\n                            <span style=\"width: 30px;\">Y:</span>\n                            <div class=\"slider-wrapper\">\n                                <input type=\"range\" id=\"yOffset\" min=\"-500\" max=\"500\" value=\"0\" step=\"5\">\n                            </div>\n                            <input type=\"number\" id=\"yOffsetNumber\" class=\"number-input\" min=\"-500\" max=\"500\" value=\"0\">\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"form-group\">\n                    <div class=\"checkbox-group\">\n                        <input type=\"checkbox\" id=\"strokeEnabled\">\n                        <label for=\"strokeEnabled\" style=\"margin: 0;\">🖊️ เพิ่มขอบตัวอักษร (Stroke)</label>\n                    </div>\n                    <div class=\"toggle-content\" id=\"strokeOptions\">\n                        <div class=\"form-group\">\n                            <label>สีขอบ</label>\n                            <div class=\"color-input-group\">\n                                <input type=\"color\" id=\"strokeColor\" value=\"#000000\">\n                                <input type=\"text\" id=\"strokeColorHex\" class=\"color-hex\" value=\"#000000\">\n                            </div>\n                        </div>\n                        <div class=\"form-group\">\n                            <div class=\"label-with-value\">\n                                <label>ความหนาขอบ</label>\n                                <span class=\"current-value\" id=\"strokeWidthValue\">5</span>\n                            </div>\n                            <div class=\"slider-group\">\n                                <div class=\"slider-wrapper\">\n                                    <input type=\"range\" id=\"strokeWidth\" min=\"1\" max=\"20\" value=\"5\" step=\"1\">\n                                </div>\n                                <input type=\"number\" id=\"strokeWidthNumber\" class=\"number-input\" min=\"1\" max=\"20\" value=\"5\">\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"form-group\">\n                    <div class=\"checkbox-group\">\n                        <input type=\"checkbox\" id=\"shadowEnabled\">\n                        <label for=\"shadowEnabled\" style=\"margin: 0;\">🌑 เพิ่มเงา (Shadow)</label>\n                    </div>\n                    <div class=\"toggle-content\" id=\"shadowOptions\">\n                        <div class=\"form-group\">\n                            <div class=\"label-with-value\">\n                                <label>ความเข้มเงา</label>\n                                <span class=\"current-value\" id=\"shadowStrengthValue\">50</span>\n                            </div>\n                            <div class=\"slider-group\">\n                                <div class=\"slider-wrapper\">\n                                    <input type=\"range\" id=\"shadowStrength\" min=\"0\" max=\"100\" value=\"50\" step=\"5\">\n                                </div>\n                                <input type=\"number\" id=\"shadowStrengthNumber\" class=\"number-input\" min=\"0\" max=\"100\" value=\"50\">\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <div class=\"form-group\">\n                    <div class=\"checkbox-group\">\n                        <input type=\"checkbox\" id=\"backgroundEnabled\">\n                        <label for=\"backgroundEnabled\" style=\"margin: 0;\">📦 เพิ่มพื้นหลังข้อความ</label>\n                    </div>\n                    <div class=\"toggle-content\" id=\"backgroundOptions\">\n                        <div class=\"form-group\">\n                            <label>สีพื้นหลัง</label>\n                            <div class=\"color-input-group\">\n                                <input type=\"color\" id=\"backgroundColor\" value=\"#000000\">\n                                <input type=\"text\" id=\"backgroundColorHex\" class=\"color-hex\" value=\"#000000\">\n                            </div>\n                        </div>\n                        <div class=\"form-group\">\n                            <div class=\"label-with-value\">\n                                <label>ความโปร่งใส</label>\n                                <span class=\"current-value\" id=\"bgOpacityValue\">80%</span>\n                            </div>\n                            <div class=\"slider-group\">\n                                <div class=\"slider-wrapper\">\n                                    <input type=\"range\" id=\"bgOpacity\" min=\"0\" max=\"100\" value=\"80\" step=\"5\">\n                                </div>\n                                <input type=\"number\" id=\"bgOpacityNumber\" class=\"number-input\" min=\"0\" max=\"100\" value=\"80\">\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <input type=\"hidden\" id=\"imageUrl\" value=\"${imageUrl}\">\n                <input type=\"hidden\" id=\"chatId\" value=\"${chatId}\">\n                <input type=\"hidden\" id=\"position\" value=\"center\">\n\n                <div class=\"button-group\">\n                    <button type=\"button\" class=\"btn-preview\" onclick=\"previewOverlay()\">👁️ ดูตัวอย่าง</button>\n                    <button type=\"submit\" class=\"btn-submit\">✅ สร้างเลย</button>\n                </div>\n            </form>\n\n            <div class=\"loading\" id=\"loading\">\n                <div class=\"spinner\"></div>\n                <p style=\"margin-top: 15px; color: #667eea; font-weight: 600;\">กำลังสร้าง...</p>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        function syncSlider(sliderId, numberId, valueId, suffix = '') {\n            const slider = document.getElementById(sliderId);\n            const number = document.getElementById(numberId);\n            const valueDisplay = document.getElementById(valueId);\n            slider.addEventListener('input', (e) => {\n                number.value = e.target.value;\n                if (valueDisplay) valueDisplay.textContent = e.target.value + suffix;\n            });\n            number.addEventListener('input', (e) => {\n                slider.value = e.target.value;\n                if (valueDisplay) valueDisplay.textContent = e.target.value + suffix;\n            });\n        }\n\n        syncSlider('fontSize', 'fontSizeNumber', 'fontSizeValue');\n        syncSlider('arcCurve', 'arcNumber', 'arcValue', '°');\n        syncSlider('xOffset', 'xOffsetNumber');\n        syncSlider('yOffset', 'yOffsetNumber');\n        syncSlider('strokeWidth', 'strokeWidthNumber', 'strokeWidthValue');\n        syncSlider('shadowStrength', 'shadowStrengthNumber', 'shadowStrengthValue');\n        syncSlider('bgOpacity', 'bgOpacityNumber', 'bgOpacityValue', '%');\n\n        function syncColor(pickerId, hexId) {\n            const picker = document.getElementById(pickerId);\n            const hex = document.getElementById(hexId);\n            picker.addEventListener('input', (e) => { hex.value = e.target.value; });\n            hex.addEventListener('input', (e) => {\n                let value = e.target.value;\n                if (!value.startsWith('#')) value = '#' + value;\n                picker.value = value;\n            });\n        }\n\n        syncColor('textColor', 'textColorHex');\n        syncColor('strokeColor', 'strokeColorHex');\n        syncColor('backgroundColor', 'backgroundColorHex');\n\n        document.querySelectorAll('.position-btn').forEach(btn => {\n            btn.addEventListener('click', function() {\n                document.querySelectorAll('.position-btn').forEach(b => b.classList.remove('active'));\n                this.classList.add('active');\n                document.getElementById('position').value = this.dataset.position;\n            });\n        });\n\n        document.querySelectorAll('.media-btn').forEach(btn => {\n            btn.addEventListener('click', function() {\n                document.querySelectorAll('.media-btn').forEach(b => b.classList.remove('active'));\n                this.classList.add('active');\n                const isVideo = this.dataset.type === 'video';\n                document.getElementById('videoOptions').classList.toggle('active', isVideo);\n            });\n        });\n\n        document.getElementById('strokeEnabled').addEventListener('change', function() {\n            document.getElementById('strokeOptions').classList.toggle('active', this.checked);\n        });\n\n        document.getElementById('shadowEnabled').addEventListener('change', function() {\n            document.getElementById('shadowOptions').classList.toggle('active', this.checked);\n        });\n\n        document.getElementById('backgroundEnabled').addEventListener('change', function() {\n            document.getElementById('backgroundOptions').classList.toggle('active', this.checked);\n        });\n\n        function buildCloudinaryURL() {\n            const cloudName = 'dz3cmaxnc';\n            const imageUrl = document.getElementById('imageUrl').value;\n            let publicId = 'sample';\n            \n            // Use fetch for external URLs\n            if (imageUrl.includes('http')) {\n                publicId = 'fetch:' + btoa(imageUrl).replace(/=/g, '');\n            }\n\n            let url = 'https://res.cloudinary.com/' + cloudName + '/image/upload/';\n\n            const text = document.getElementById('textContent').value;\n            const font = 'Arial';\n            const size = document.getElementById('fontSizeNumber').value;\n            const weight = document.getElementById('fontWeight').value;\n            const align = document.getElementById('textAlign').value;\n            const color = document.getElementById('textColorHex').value.replace('#', '');\n            const arc = document.getElementById('arcNumber').value;\n\n            const encodedText = encodeURIComponent(text);\n            const fontStyle = weight === 'normal' ? '' : '_' + weight;\n\n            url += 'l_text:' + font + '_' + size + fontStyle + '_' + align + ':' + encodedText + ',w_800,c_fit,co_rgb:' + color + '/';\n\n            if (document.getElementById('strokeEnabled').checked) {\n                const strokeColor = document.getElementById('strokeColorHex').value.replace('#', '');\n                const strokeWidth = document.getElementById('strokeWidthNumber').value;\n                url += 'co_rgb:' + strokeColor + ',e_outline:' + strokeWidth + '/';\n            }\n\n            if (document.getElementById('shadowEnabled').checked) {\n                const shadowStrength = document.getElementById('shadowStrengthNumber').value;\n                url += 'e_shadow:' + shadowStrength + '/';\n            }\n\n            if (arc != 0) {\n                url += 'e_distort:arc:' + arc + '/';\n            }\n\n            if (document.getElementById('backgroundEnabled').checked) {\n                const bgColor = document.getElementById('backgroundColorHex').value.replace('#', '');\n                const bgOpacity = document.getElementById('bgOpacityNumber').value;\n                url += 'b_rgb:' + bgColor + ',o_' + bgOpacity + '/';\n            }\n\n            const position = document.getElementById('position').value;\n            const xOffset = document.getElementById('xOffsetNumber').value;\n            const yOffset = document.getElementById('yOffsetNumber').value;\n\n            url += 'fl_layer_apply,g_' + position;\n            if (xOffset != 0) url += ',x_' + xOffset;\n            if (yOffset != 0) url += ',y_' + yOffset;\n            url += '/';\n\n            const isVideo = document.querySelector('.media-btn.active').dataset.type === 'video';\n            if (isVideo) {\n                const startTime = document.getElementById('startTime').value;\n                const endTime = document.getElementById('endTime').value;\n                if (startTime) url += 'so_' + startTime + '/';\n                if (endTime) url += 'eo_' + endTime + '/';\n                if (document.getElementById('fadeEffect').checked) {\n                    url += 'e_fade:1000/e_fade:-1000/';\n                }\n            }\n\n            url += publicId;\n            return url;\n        }\n\n        function previewOverlay() {\n            const cloudinaryUrl = buildCloudinaryURL();\n            window.open(cloudinaryUrl, '_blank');\n        }\n\n        document.getElementById('textOverlayForm').addEventListener('submit', function(e) {\n            e.preventDefault();\n            document.getElementById('loading').classList.add('active');\n            document.querySelector('.form-section form').style.display = 'none';\n\n            const formData = {\n                text_content: document.getElementById('textContent').value,\n                font_size: document.getElementById('fontSizeNumber').value,\n                arc_curve: document.getElementById('arcNumber').value,\n                text_color: document.getElementById('textColorHex').value.replace('#', ''),\n                font_weight: document.getElementById('fontWeight').value,\n                text_align: document.getElementById('textAlign').value,\n                position: document.getElementById('position').value,\n                x_offset: document.getElementById('xOffsetNumber').value,\n                y_offset: document.getElementById('yOffsetNumber').value,\n                stroke_enabled: document.getElementById('strokeEnabled').checked,\n                stroke_color: document.getElementById('strokeColorHex').value.replace('#', ''),\n                stroke_width: document.getElementById('strokeWidthNumber').value,\n                shadow_enabled: document.getElementById('shadowEnabled').checked,\n                shadow_strength: document.getElementById('shadowStrengthNumber').value,\n                background_enabled: document.getElementById('backgroundEnabled').checked,\n                background_color: document.getElementById('backgroundColorHex').value.replace('#', ''),\n                background_opacity: document.getElementById('bgOpacityNumber').value,\n                image_url: document.getElementById('imageUrl').value,\n                chat_id: document.getElementById('chatId').value,\n                media_type: document.querySelector('.media-btn.active').dataset.type,\n                start_time: document.getElementById('startTime').value,\n                end_time: document.getElementById('endTime').value,\n                fade_effect: document.getElementById('fadeEffect').checked\n            };\n\n            fetch(window.location.origin + '/webhook/text-overlay-submit', {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify(formData)\n            })\n            .then(response => response.json())\n            .then(data => {\n                alert('✅ สร้างสำเร็จ! กำลังส่งกลับไปที่ Telegram');\n                window.close();\n            })\n            .catch(error => {\n                alert('❌ เกิดข้อผิดพลาด: ' + error);\n                document.getElementById('loading').classList.remove('active');\n                document.querySelector('.form-section form').style.display = 'block';\n            });\n        });\n    </script>\n</body>\n</html>`;\n\nreturn [{ data: html }];"
      },
      "id": "a1b2c3d4-3333-3333-3333-333333333333",
      "name": "Read HTML Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "text-overlay-submit",
        "options": {}
      },
      "id": "a1b2c3d4-4444-4444-4444-444444444444",
      "name": "Webhook Form Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 520],
      "webhookId": "text-overlay-submit"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build Cloudinary URL from form data\nconst cloudName = \"dz3cmaxnc\";\nconst formData = $input.first().json.body;\nconst imageUrl = formData.image_url;\n\n// Build public ID\nlet publicId = \"sample\";\nif (imageUrl && imageUrl.includes('http')) {\n  // For external URLs, use fetch method\n  const base64Id = Buffer.from(imageUrl).toString('base64').replace(/=/g, '');\n  publicId = `fetch:${base64Id}`;\n}\n\nlet url = `https://res.cloudinary.com/${cloudName}/image/upload/`;\n\n// Text layer\nconst text = formData.text_content;\nconst font = \"Arial\";\nconst size = formData.font_size || 60;\nconst weight = formData.font_weight || \"normal\";\nconst align = formData.text_align || \"center\";\nconst color = formData.text_color || \"ffffff\";\nconst arc = formData.arc_curve || 0;\n\nconst encodedText = encodeURIComponent(text);\nconst fontStyle = weight === \"normal\" ? \"\" : `_${weight}`;\n\nurl += `l_text:${font}_${size}${fontStyle}_${align}:${encodedText},w_800,c_fit,co_rgb:${color}/`;\n\n// Stroke\nif (formData.stroke_enabled) {\n  const strokeColor = formData.stroke_color || \"000000\";\n  const strokeWidth = formData.stroke_width || 5;\n  url += `co_rgb:${strokeColor},e_outline:${strokeWidth}/`;\n}\n\n// Shadow\nif (formData.shadow_enabled) {\n  const shadowStrength = formData.shadow_strength || 50;\n  url += `e_shadow:${shadowStrength}/`;\n}\n\n// Arc curve\nif (arc != 0) {\n  url += `e_distort:arc:${arc}/`;\n}\n\n// Background\nif (formData.background_enabled) {\n  const bgColor = formData.background_color || \"000000\";\n  const bgOpacity = formData.background_opacity || 80;\n  url += `b_rgb:${bgColor},o_${bgOpacity}/`;\n}\n\n// Position\nconst position = formData.position || \"center\";\nconst xOffset = formData.x_offset || 0;\nconst yOffset = formData.y_offset || 0;\n\nurl += `fl_layer_apply,g_${position}`;\nif (xOffset != 0) url += `,x_${xOffset}`;\nif (yOffset != 0) url += `,y_${yOffset}`;\nurl += `/`;\n\n// Video timing\nif (formData.media_type === \"video\") {\n  if (formData.start_time) url += `so_${formData.start_time}/`;\n  if (formData.end_time) url += `eo_${formData.end_time}/`;\n  if (formData.fade_effect) url += `e_fade:1000/e_fade:-1000/`;\n}\n\nurl += publicId;\n\nreturn [{\n  cloudinary_url: url,\n  chat_id: formData.chat_id,\n  media_type: formData.media_type || \"image\",\n  original_image_url: imageUrl,\n  text_content: text,\n  processing_time: new Date().toISOString()\n}];"
      },
      "id": "a1b2c3d4-5555-5555-5555-555555555555",
      "name": "Build Cloudinary URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 520]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.cloudinary_url }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-6666-6666-6666-666666666666",
      "name": "Fetch from Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPhoto",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "photo",
              "value": "={{ $json.cloudinary_url }}"
            },
            {
              "name": "caption",
              "value": "✅ สร้างข้อความบนรูปภาพเรียบร้อยแล้ว!\n\n📝 ข้อความ: {{ $json.text_content }}\n🔗 Cloudinary URL: {{ $json.cloudinary_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-7777-7777-7777-777777777777",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"ส่งรูปภาพไปที่ Telegram แล้ว\", \"cloudinary_url\": $json.cloudinary_url } }}",
        "options": {}
      },
      "id": "a1b2c3d4-8888-8888-8888-888888888888",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 520]
    }
  ],
  "connections": {
    "Webhook Form Display": {
      "main": [
        [
          {
            "node": "Read HTML Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read HTML Template": {
      "main": [
        [
          {
            "node": "Respond with HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Form Submit": {
      "main": [
        [
          {
            "node": "Build Cloudinary URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cloudinary URL": {
      "main": [
        [
          {
            "node": "Fetch from Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch from Cloudinary": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-01-08T00:00:00.000Z",
  "versionId": "1"
}
