workflows/examples/facebook-trigger-webhook.json
{
  "name": "Facebook Trigger - Instagram Comments Webhook",
  "nodes": [
    {
      "parameters": {
        "object": "instagram",
        "appId": "={{$credentials.appId}}",
        "fields": [
          "comments",
          "mentions"
        ]
      },
      "id": "fb-trigger-1",
      "name": "Facebook Trigger",
      "type": "n8n-nodes-base.facebookTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "auto-generated-webhook-id",
      "credentials": {
        "facebookApp": {
          "id": "1",
          "name": "Facebook App Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "values": {
          "string": [
            {
              "name": "event_type",
              "value": "={{$json.field}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json.time}}"
            },
            {
              "name": "user_id",
              "value": "={{$json.value.from.id}}"
            },
            {
              "name": "message",
              "value": "={{$json.value.text}}"
            }
          ]
        }
      },
      "id": "set-node-1",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event_type}}",
              "operation": "equals",
              "value2": "comments"
            }
          ]
        }
      },
      "id": "if-node-1",
      "name": "Is Comment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "resource": "comment",
        "operation": "create",
        "postId": "={{$json.value.post_id}}",
        "message": "Thank you for your comment! 🙏"
      },
      "id": "fb-reply-1",
      "name": "Auto Reply Comment",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "2",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Webhook processed\", \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "response-1",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Facebook Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Is Comment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Comment?": {
      "main": [
        [
          {
            "node": "Auto Reply Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Reply Comment": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "Social Media"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "2",
      "name": "Instagram"
    }
  ],
  "meta": {
    "instanceId": "your-instance-id"
  },
  "id": "1",
  "versionId": "1",
  "triggerCount": 0,
  "active": false,
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z"
}
