workflows/examples/webhook-to-facebook.json
{
  "name": "Webhook to Facebook Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facebook-post",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "auto-generated-webhook-id"
    },
    {
      "parameters": {
        "operation": "set",
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{$json.body.message || 'Default message'}}"
            },
            {
              "name": "image_url",
              "value": "={{$json.body.image_url || ''}}"
            },
            {
              "name": "page_id",
              "value": "={{$json.body.page_id || $env.FACEBOOK_PAGE_ID}}"
            }
          ]
        }
      },
      "id": "set-node-2",
      "name": "Parse Webhook Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-node-2",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "pageId": "={{$json.page_id}}",
        "message": "={{$json.message}}",
        "additionalFields": {
          "link": "={{$json.image_url}}"
        }
      },
      "id": "fb-post-1",
      "name": "Create Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "2",
          "name": "Facebook Graph API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"post_id\": $json.id, \"message\": \"Post created successfully\" } }}"
      },
      "id": "response-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Message is required\" } }}"
      },
      "id": "response-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Data": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Create Facebook Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Facebook Post": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "3",
      "name": "Webhook"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "4",
      "name": "Facebook"
    }
  ],
  "meta": {
    "instanceId": "your-instance-id"
  },
  "id": "2",
  "versionId": "1",
  "triggerCount": 0,
  "active": false,
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z"
}
