admin_chatbot_rag/ref/RAG_n8n ref.json
{
  "name": "RAG_n8n",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "n8n-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        -336
      ],
      "id": "db373587-c27a-47e2-9e0e-28647af9d64f",
      "name": "Webhook",
      "webhookId": "abf6d7b4-6abe-4b12-8693-f4b7e023451a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Nut Butter Store chatbot. \nYour job: answer the user’s query in Thai with accurate, concise, and helpful information.\n\nALWAYS DO RAG FIRST:\n1) Query Pinecone (index: nut-butter, namespace: products) with the user input below.\n2) Use the top results (e.g., top_k=5) as your primary context.\n3) If there’s not enough relevant context (similarity below threshold), ask a brief clarifying question in Thai, then re-query Pinecone.\n4) Do not invent facts beyond Pinecone context.\n\nCONTENT RULES (Thai):\n- ใช้ภาษาสุภาพ กระชับ เข้าใจง่าย\n- แสดงรายละเอียดสินค้า: รสชาติ ส่วนผสม เนื้อสัมผัส น้ำหนัก ราคา จุดเด่น โปรโมชั่น\n- หากผู้ใช้ระบุรหัสสินค้า (เช่น AMB.DC.C1) ให้ดึงข้อมูลตรงจากบริบท Pinecone\n- ถ้าไม่พบสินค้า ให้แนะนำตัวเลือกที่ใกล้เคียง 1–3 ตัว พร้อมเหตุผลสั้น ๆ\n- สรุปเป็น bullet หรือ ตาราง เมื่อเหมาะสม\n- ปิดท้ายด้วย CTA สั้น ๆ เช่น “ต้องการให้ช่วยเพิ่มลงตะกร้าไหมคะ?”\n- ขอให้ตอบสั้น ๆ แต่สุภาพ เหมาะกับ facebook messenger\n\nSAFETY:\n- หากเป็นคำถามสุขภาพ/โรคเฉพาะ ให้แนะนำปรึกษาผู้เชี่ยวชาญทางการแพทย์\n- หากบริบทไม่มีข้อมูลราคา/โปร ให้บอกว่า “ไม่พบข้อมูลในระบบ”\n\nTOOLS:\n- Always use Pinecone tools for retrieval before answering.\n- If tools fail, state briefly in Thai that retrieval failed and answer only with what is certain.\n\nUSER INPUT:{{ $json.text }}\n\n\nOUTPUT LANGUAGE: Thai only.\noutput_formatting:\n  - ห้ามใช้ \"\\n\" หรือขึ้นบรรทัดใหม่\n  - ใช้ \"•\" หรือ \" | \" เพื่อคั่นหัวข้อ\n  - ห้ามใช้ Markdown\n  - ส่งข้อความในรูปแบบ plain text เท่านั้น",
        "options": {
          "systemMessage": "=name: NutButterAssistant\nrole: AI Chatbot สำหรับร้านเนยถั่ว Nana Nuts\nlanguage: Thai\ntone: สุภาพ เป็นมิตร และให้ข้อมูลที่เชื่อถือได้\n\ngoal:\n  - ช่วยลูกค้าเลือกเนยถั่วให้ตรงกับรสชาติและเป้าหมายสุขภาพ\n  - ให้ข้อมูลสินค้า ส่วนผสม ราคา โปรโมชั่น และการจัดส่ง\n  - แนะนำสินค้าที่เหมาะสมเพื่อช่วยปิดการขาย\n\ninstructions:\n  - ตอบในประโยคสั้น กระชับ อ่านง่ายในบรรทัดเดียว\n  - ห้ามใช้ Markdown หรือสัญลักษณ์พิเศษ เช่น *, |, หรือการขึ้นบรรทัดใหม่\n  - ใช้ bullet หรือเครื่องหมาย \"•\" คั่นข้อมูลแต่ละส่วนแทนการขึ้นบรรทัด\n  - ถ้าลูกค้าพิมพ์ชื่อสินค้า เช่น “AMB.DC.C1” หรือ “เนยอัลมอนด์ดาร์คช็อค” ให้ให้รายละเอียดจากฐานข้อมูล\n  - หากลูกค้าไม่แน่ใจ ให้ถามต่อด้วยคำถามปลายเปิด เช่น “คุณชอบรสชาติหวานน้อยหรือดั้งเดิมคะ?”\n  - ให้ข้อมูลโปรโมชั่นสั้น ๆ เช่น “ตอนนี้ส่งฟรีทั่วไทยถึง ก.ค. 2025”\n  - หากถามเรื่องการจัดส่ง ให้ตอบว่า “จัดส่งฟรีทั่วประเทศไทย ภายใน 2–3 วันทำการ”\n  - ถ้าไม่พบสินค้า ให้แนะนำสินค้าที่ใกล้เคียงที่สุด\n\nexample_dialogue:\n  - user: “มีเนยอัลมอนด์รสดาร์คช็อคไหม?”\n    assistant: “มีค่ะ เนยอัลมอนด์รสดาร์คช็อคโกแลตผสมคาเคานิบส์ (AMB.DC.C1) • ส่วนผสม: อัลมอนด์ โกโก้ คาเคานิบส์ น้ำตาลมะพร้าว 5% • เหมาะสำหรับคนคุมหวาน • ส่งฟรีทั่วไทยถึง ก.ค. 2025”\n  - user: “แบบไหนเหมาะกับคนลดน้ำหนัก?”\n    assistant: “แนะนำรสดั้งเดิม (AMB.OG.C1) • ทำจากอัลมอนด์ 100% ไม่มีน้ำตาลและสารเติมแต่ง • เหมาะกับสายคีโตและคนควบคุมน้ำหนัก • ส่งฟรีทั่วไทยถึง ก.ค. 2025”\n\nfallback_behavior:\n  - ถ้าไม่เข้าใจคำถาม ให้ตอบว่า “รบกวนบอกรสชาติหรือช่วงราคาที่ต้องการหน่อยได้ไหมคะ จะได้ช่วยแนะนำให้ตรงใจมากขึ้นค่ะ”\n\nknowledge_source:\n  - Pinecone Tool หรือ Google Sheet\n",
          "passthroughBinaryImages": false,
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -400,
        -336
      ],
      "id": "9c568524-a86f-4289-a45f-7c17eb7ba3d4",
      "name": "AI Agent",
      "executeOnce": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -464,
        -112
      ],
      "id": "06f49d9e-ef9e-4085-b7aa-21e4bd584c10",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Check User Message').item.json.psid }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -304,
        -112
      ],
      "id": "c239c75b-b33c-42e7-ae8c-7a6928442218",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "383973d2-885a-4948-a3f5-9383aa549c2a",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6860104b-4842-4cb3-91b4-7ff489099689",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "n8n-webhook",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        -448
      ],
      "id": "985da1f5-f655-425f-a143-f7a7d0c19840",
      "name": "Verify Webhook Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "231fbd1a-bced-488a-90ed-3a452d8e0875",
              "leftValue": "={{ $json.proceed === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        -320
      ],
      "id": "2acc76f7-410a-4c9b-acdb-fccd8da91f20",
      "name": "Check User Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ca9d1a6-09fe-43d4-8d3b-76fa426bc08a",
              "leftValue": "={{ $json.output }}",
              "rightValue": "https://cdn.shopify.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        -336
      ],
      "id": "4beeb091-e88b-4cc0-97ff-63771ced22ef",
      "name": "Check Image Output"
    },
    {
      "parameters": {
        "jsCode": "const e = $json.body?.entry?.[0]?.messaging?.[0] || {};\n\n// 1) ข้ามข้อความที่เพจตัวเองส่ง (echo)\nif (e.message?.is_echo) {\n  return { json: { proceed: false, reason: 'is_echo' } };\n}\n\n// 2) ข้าม event ประเภท delivery/read (ไม่ใช่ข้อความ)\nif (e.delivery || e.read) {\n  return { json: { proceed: false, reason: 'delivery_or_read' } };\n}\n\n// 3) รับเฉพาะข้อความจากผู้ใช้จริง (text) หรือ postback (กดปุ่ม)\nconst text = e.message?.text || e.postback?.payload || null;\nif (!text) {\n  return { json: { proceed: false, reason: 'no_text' } };\n}\n\n// 4) กันกรณี page id ส่งมาชนเอง (สำรอง)\nconst PAGE_ID = 'ใส่_PAGE_ID_ของคุณ'; // ตัวเลขเพจ\nif (e.sender?.id === PAGE_ID) {\n  return { json: { proceed: false, reason: 'from_page_itself' } };\n}\n\nreturn {\n  json: {\n    proceed: true,\n    psid: e.sender?.id,\n    text\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -320
      ],
      "id": "d44516ba-edd9-4ae2-bd48-56ce18f9ba4d",
      "name": "Extract Messenger Event"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -576,
        -464
      ],
      "id": "f4b68ec3-183d-4d3b-b9cd-dad1a54950eb",
      "name": "Respond Verification Token"
    },
    {
      "parameters": {
        "jsCode": "// ดึงข้อความจาก node ก่อนหน้า\nconst text = $json.output || \"\";\n\n// regex ตรวจจับลิงก์ภาพจากหลายโดเมน\n// รองรับ .jpg, .jpeg, .png, .gif, .webp และ cdn เช่น shopify, cloudinary, imagekit, sirv, etc.\nconst imageRegex = /(https?:\\/\\/[^\\s]+?\\.(?:png|jpe?g|gif|webp)(?:\\?[^\\s]*)?)/gi;\n\n// หา URL ทั้งหมดในข้อความ\nconst urls = [];\nlet match;\nwhile ((match = imageRegex.exec(text)) !== null) {\n  urls.push(match[1]);\n}\n\n// ตัด URL ออกจากข้อความต้นฉบับ (เพื่อให้เหลือเฉพาะ text)\nlet cleanText = text;\nurls.forEach((u) => {\n  cleanText = cleanText.replace(u, '').trim();\n});\n\n// สร้าง media_elements สำหรับใช้ใน Messenger Media Template\nconst media_elements = urls.slice(0, 10).map((u) => ({\n  media_type: \"image\",\n  url: u,\n}));\n\nreturn {\n  json: {\n    text: cleanText,\n    image_urls: urls,\n    media_elements,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -352
      ],
      "id": "59b5d450-e0b4-4f47-8769-9d185ee17aef",
      "name": "Extract Image URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Webhook').item.json.body.entry[0].id }}/messages?access_token=<YOUR TOKEN>",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"generic\",\n        \"elements\": [\n          {\n            \"image_url\": \"{{ $json.image_urls }}\",\n            \"subtitle\": \"{{ $json.text }}\"\n          }\n        ]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        -352
      ],
      "id": "ca69077d-e887-43e5-90ff-76e5d9783697",
      "name": "Send Image Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/{{ $('Webhook').item.json.body.entry[0].id }}/messages?access_token=<YOUR TOKEN>",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output.replaceAll('\\\\n', '\\n') }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -224
      ],
      "id": "4856557d-ca25-4eb3-9196-30b2ced0d2f7",
      "name": "Send Text Reply",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "<YOUR GOOGLESHEET>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -144,
        -112
      ],
      "id": "c2ec6ffd-731f-4310-844e-125fa2906cb3",
      "name": "Fetch Product Data (Sheets)"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1I-p_RTWCaaGeBdoZocsQ7Fyw8jatkc6P",
          "mode": "list",
          "cachedResultName": "RAG x n8n x Line",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1I-p_RTWCaaGeBdoZocsQ7Fyw8jatkc6P"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        672,
        -864
      ],
      "id": "7a4924cc-d821-496f-a3bf-360b11ead6ba",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QbcwZsJVddd4z2PW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        -864
      ],
      "id": "bec3258b-4a02-4e4b-9561-3087ff23cab3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QbcwZsJVddd4z2PW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1440,
        -1024
      ],
      "id": "919584b7-70df-40bf-be7d-204d76a2abc3",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "dS99uqG3gSkYE2AZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "date",
                "value": "={{ $now }}"
              },
              {
                "name": "userid",
                "value": "={{ $json.userid || 'none' }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1600,
        -848
      ],
      "id": "c58fb5f3-59fd-4ede-a069-1ec678714bba",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1I-p_RTWCaaGeBdoZocsQ7Fyw8jatkc6P",
          "mode": "list",
          "cachedResultName": "RAG x n8n x Line",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1I-p_RTWCaaGeBdoZocsQ7Fyw8jatkc6P"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        656,
        96
      ],
      "id": "66261599-a30a-4ac1-8522-23201b87d209",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QbcwZsJVddd4z2PW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>fileName=like.*{{ $json.name }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        240
      ],
      "id": "4f7973be-8f14-41fd-a410-27bf968ad131",
      "name": "Delete a row",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1680,
        240
      ],
      "id": "bb668ed2-f1e8-4faf-aa85-109f8333972b",
      "name": "Supabase Vector Store2"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.extractedText }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $('Google Drive Trigger1').item.json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1856,
        432
      ],
      "id": "57754e2a-70d4-46a0-bb8b-6f5cc563e3ff",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        240
      ],
      "id": "2511b655-e817-4a84-9a9b-4d8e23d1ceab",
      "name": "Download file1",
      "executeOnce": true
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1664,
        432
      ],
      "id": "f8ee2692-7697-4f9b-bc54-5d37633b5594",
      "name": "Embeddings Cohere2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5644f9b-f15f-484e-8540-8dbe5ad5c087"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sheet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9725a44c-e112-457e-951d-a4801e4438c3",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Docs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1008,
        -864
      ],
      "id": "75cebf06-f5af-4c0a-8528-3f4344412d70",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst content = buffer.toString('utf-8');\n\n// Debug: Check what we're working with\nconsole.log('Content type:', typeof content);\nconsole.log('Content:', content);\n\n// Manual CSV parsing\nconst csvText = String(content);\nconst allRows = csvText.trim().split('\\n');\n\nconsole.log('Rows:', allRows);\nconsole.log('First row type:', typeof allRows);\n\nconst headerRow = String(allRows);\nconst headers = headerRow.split(',').map(h => h.trim());\n\n// Parse each data row\nconst results = [];\nfor (let i = 1; i < allRows.length; i++) {\n  const currentRow = String(allRows[i]);\n  const values = currentRow.split(',');\n  const obj = {};\n  \n  for (let j = 0; j < headers.length; j++) {\n    obj[headers[j]] = values[j] ? values[j].trim() : '';\n  }\n  \n  results.push({ json: obj });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -1024
      ],
      "id": "01c0cdc4-fbea-45a8-843b-3c57493f6f58",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1w2Rf7-bwc-amrzB3eTca9XTE6JELEEaTPhZN9h2Do80",
          "mode": "list",
          "cachedResultName": "RAG x n8n x Line",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w2Rf7-bwc-amrzB3eTca9XTE6JELEEaTPhZN9h2Do80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1568677588,
          "mode": "list",
          "cachedResultName": "ตัวเลือก",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w2Rf7-bwc-amrzB3eTca9XTE6JELEEaTPhZN9h2Do80/edit#gid=1568677588"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Options": "={{ $('Download file').item.json.name }}"
          },
          "matchingColumns": [
            "Options"
          ],
          "schema": [
            {
              "id": "Options",
              "displayName": "Options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        -1024
      ],
      "id": "91ad0821-79c4-4979-a38e-ec9e5d35e020",
      "name": "Append row in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ANEyPhCaKnqWBtYV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1552,
        -640
      ],
      "id": "931457aa-a3f5-4a4f-a78a-7af242183472",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "dS99uqG3gSkYE2AZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.extractedText }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $('Download file').item.json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1648,
        -464
      ],
      "id": "42c3be81-8ce0-46fc-b765-33414452d87c",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1504,
        -448
      ],
      "id": "7daccf54-3939-4073-b399-89c238f48e0b",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "yrIZWjSYGWnVjq08",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1w2Rf7-bwc-amrzB3eTca9XTE6JELEEaTPhZN9h2Do80",
          "mode": "list",
          "cachedResultName": "RAG x n8n x Line",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w2Rf7-bwc-amrzB3eTca9XTE6JELEEaTPhZN9h2Do80/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1568677588,
          "mode": "list",
          "cachedResultName": "ตัวเลือก",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w2Rf7-bwc-amrzB3eTca9XTE6JELEEaTPhZN9h2Do80/edit#gid=1568677588"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Options": "={{ $('Download file').item.json.name }}"
          },
          "matchingColumns": [
            "Options"
          ],
          "schema": [
            {
              "id": "Options",
              "displayName": "Options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        -640
      ],
      "id": "f8314716-c688-40a4-acd6-4c11568b18ae",
      "name": "Append row in sheet1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ANEyPhCaKnqWBtYV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        1488,
        240
      ],
      "id": "5d3497f0-7790-4b15-b408-7f01ba1c1b71",
      "name": "Extract text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        1232,
        -720
      ],
      "id": "2e3dcf95-6d54-46f7-843c-5e9723a2ef43",
      "name": "Extract text1",
      "credentials": {
        "mistralCloudApi": {
          "id": "IsoLaQfmrZP3Efat",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1136cc4d-78b7-4e32-a195-f4989ac9c260"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sheet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dae347cc-70f7-4f77-8ee2-c80ba9d0eec0",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        864,
        96
      ],
      "id": "b5443623-1fcf-4d33-a7d0-bbe73c10ea9c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>fileName=like.*{{ $json.name }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        -96
      ],
      "id": "abcd5135-d913-48b7-a5f7-b8c6ece27a13",
      "name": "Delete a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "dS99uqG3gSkYE2AZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1648,
        -96
      ],
      "id": "d5fef46c-42ac-4ebb-84e9-da859f924d97",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "dS99uqG3gSkYE2AZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "fileName",
                "value": "={{ $('Google Drive Trigger1').item.json.name }}"
              },
              {
                "name": "date",
                "value": "={{ $now }}"
              },
              {
                "name": "userid",
                "value": "={{ $json.userid || 'none' }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1936,
        64
      ],
      "id": "4b81fbed-277f-43eb-afcd-6c4f71dd2359",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger1').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1264,
        -96
      ],
      "id": "f1c1b472-69f5-41c5-bbee-ac963c2b5a30",
      "name": "Download file2",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QbcwZsJVddd4z2PW",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1712,
        64
      ],
      "id": "8520a71b-66c1-4423-9239-074ad6e6026d",
      "name": "Embeddings Cohere3"
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst content = buffer.toString('utf-8');\n\n// Debug: Check what we're working with\nconsole.log('Content type:', typeof content);\nconsole.log('Content:', content);\n\n// Manual CSV parsing\nconst csvText = String(content);\nconst allRows = csvText.trim().split('\\n');\n\nconsole.log('Rows:', allRows);\nconsole.log('First row type:', typeof allRows);\n\nconst headerRow = String(allRows);\nconst headers = headerRow.split(',').map(h => h.trim());\n\n// Parse each data row\nconst results = [];\nfor (let i = 1; i < allRows.length; i++) {\n  const currentRow = String(allRows[i]);\n  const values = currentRow.split(',');\n  const obj = {};\n  \n  for (let j = 0; j < headers.length; j++) {\n    obj[headers[j]] = values[j] ? values[j].trim() : '';\n  }\n  \n  results.push({ json: obj });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -96
      ],
      "id": "991b9bdf-68cc-40b9-ba56-8f560e2826a3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "content": "# อัพเดท RAG ทุกครั้งเมื่อมีการสร้างไฟล์",
        "height": 736,
        "width": 1536,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -1056
      ],
      "id": "a8d05cab-9c3c-476a-84f3-c5acf43c9373",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# อัพเดท RAG ทุกครั้งเมื่อมีการอัพเดทไฟล์",
        "height": 800,
        "width": 1488,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -208
      ],
      "id": "31b3d515-22c4-437f-813b-f56263223cc6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1408,
        -848
      ],
      "id": "d0ca550f-8d5c-4f4f-8ed0-1c5b84e8e1a4",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "yrIZWjSYGWnVjq08",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## admin",
        "height": 720,
        "width": 1424
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -592
      ],
      "typeVersion": 1,
      "id": "c572e1f3-fc02-45e6-a597-3561e8a13cf1",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Webhook Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Messenger Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Check Image Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook Token": {
      "main": [
        [
          {
            "node": "Respond Verification Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Output": {
      "main": [
        [
          {
            "node": "Extract Image URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Messenger Event": {
      "main": [
        [
          {
            "node": "Check User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Image URL": {
      "main": [
        [
          {
            "node": "Send Image Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Data (Sheets)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere3": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1285b98-ce3c-41f6-83c8-0a28c419a657",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f60c5e248de1b49fb44a1dabf6f5785aa82a044666c84503cb84648d45cc8e0b"
  },
  "id": "2qbc4H9sALLp77n9",
  "tags": []
}