CC_CREATIVE_SESSION2/workflows/BrEps7QE3eBia4U4_enhanced.json
{
  "workflow": {
    "id": "BrEps7QE3eBia4U4",
    "name": "Text Overlay Enhanced (Arc Curve)",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "path": "overlay-form",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "650bc11d-ff5e-4d8c-b9a5-3bae9817c7d1",
        "name": "Form Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [1328, 1104],
        "webhookId": "0157052a-8752-4145-afe9-8372c7d08160"
      },
      {
        "parameters": {
          "url": "https://raw.githubusercontent.com/Tod8boT/Chemicalromance/claude/n8n-cloudinary-text-overlay-011CUuaYqfZUHfh8YMBbp5Vm/text_overlay_form_arc_enhanced.html",
          "options": {}
        },
        "id": "6d80f9d2-0873-4f1a-a527-39bc31d4c857",
        "name": "Get Enhanced HTML Form",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [1552, 1104]
      },
      {
        "parameters": {
          "jsCode": "const html = $input.first().json;\nconst imageUrl = $('Form Webhook').first().json.query.image_url || '';\nconst chatId = $('Form Webhook').first().json.query.chat_id || '';\n\nlet htmlContent = typeof html === 'string' ? html : JSON.stringify(html);\n\n// Replace placeholders\nhtmlContent = htmlContent.replace(/\\{\\{\\$json\\.image_url\\}\\}/g, imageUrl);\nhtmlContent = htmlContent.replace(/\\{\\{\\$json\\.chat_id\\}\\}/g, chatId);\n\nreturn [{ html: htmlContent }];"
        },
        "id": "f88904a3-b89b-45db-9f07-256d0386114c",
        "name": "Replace Values",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1776, 1104]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.html }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/html; charset=utf-8"
                }
              ]
            }
          }
        },
        "id": "ffa96dbf-66c2-4e46-b016-e262283c10d1",
        "name": "Show Form",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [2000, 1104]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "overlay-submit",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "65799925-936c-4ee8-96c9-479be181c2b2",
        "name": "Submit Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [1328, 1328],
        "webhookId": "35aec451-10cf-40b2-a68a-49f3dc446303"
      },
      {
        "parameters": {
          "jsCode": "// Enhanced Cloudinary URL Builder with Full Arc Curve Support (-180° to 180°)\nconst data = $input.first().json.body;\nconst cloudName = \"dz3cmaxnc\";\n\n// Build base URL\nlet url = `https://res.cloudinary.com/${cloudName}/image/upload/`;\n\nconst text = data.text_content;\nconst size = data.font_size || 60;\nconst weight = data.font_weight || \"normal\";\nconst align = data.text_align || \"center\";\nconst color = (data.text_color || \"ffffff\").replace('#', '');\n\n// ARC CURVE ENHANCEMENT: Support full range -180° to 180°\nconst arc = parseFloat(data.arc_curve || 0);\n\n// Validate arc range\nif (arc < -180 || arc > 180) {\n  throw new Error('Arc curve must be between -180° and 180°');\n}\n\n// Encode text for URL (supports Thai)\nconst encoded = encodeURIComponent(text);\nconst style = weight === \"normal\" ? \"\" : `_${weight}`;\n\n// Font family with Thai support\nconst fontFamily = data.font_family || \"Arial\";\n\n// Build text layer transformation\nurl += `l_text:${fontFamily}_${size}${style}_${align}:${encoded},w_800,c_fit,co_rgb:${color}/`;\n\n// Add stroke if enabled\nif (data.stroke_enabled) {\n  const strokeColor = (data.stroke_color || \"000000\").replace('#', '');\n  const strokeWidth = data.stroke_width || 5;\n  url += `co_rgb:${strokeColor},e_outline:${strokeWidth}/`;\n}\n\n// Add shadow if enabled\nif (data.shadow_enabled) {\n  url += `e_shadow:${data.shadow_strength || 50}/`;\n}\n\n// ENHANCED ARC CURVE: Apply arc distortion with proper formatting\n// Brand-recommended range: 30° to 60° (optimal readability)\n// Full range supported: -180° to 180°\nif (arc !== 0) {\n  // Format arc value to one decimal place for Cloudinary\n  const arcValue = arc.toFixed(1);\n  url += `e_distort:arc:${arcValue}/`;\n}\n\n// Add background if enabled\nif (data.background_enabled) {\n  const bgColor = (data.background_color || \"000000\").replace('#', '');\n  const bgOpacity = data.background_opacity || 80;\n  url += `b_rgb:${bgColor},o_${bgOpacity}/`;\n}\n\n// Position and offset\nconst pos = data.position || \"center\";\nconst x = data.x_offset || 0;\nconst y = data.y_offset || 0;\n\nurl += `fl_layer_apply,g_${pos}`;\nif (x != 0) url += `,x_${x}`;\nif (y != 0) url += `,y_${y}`;\nurl += `/`;\n\n// Video support (optional)\nif (data.media_type === \"video\") {\n  if (data.start_time) url += `so_${data.start_time}/`;\n  if (data.end_time) url += `eo_${data.end_time}/`;\n  if (data.fade_effect) url += `e_fade:1000/e_fade:-1000/`;\n}\n\n// Handle image URL\nconst imgUrl = data.image_url;\nif (imgUrl && imgUrl.includes('http')) {\n  const pid = `fetch:${Buffer.from(imgUrl).toString('base64').replace(/=/g, '')}`;\n  url += pid;\n} else {\n  url += 'sample';\n}\n\nreturn [{\n  url: url,\n  chat_id: data.chat_id,\n  text: text,\n  arc_curve: arc,\n  arc_range: `${arc}° (Range: -180° to 180°, Recommended: 30° to 60°)`\n}];"
        },
        "id": "0e392fb7-5bc5-442a-89e2-db9f94d175a9",
        "name": "Build Enhanced URL (Arc Curve)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1552, 1328]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendPhoto",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $json.chat_id }}"
              },
              {
                "name": "photo",
                "value": "={{ $json.url }}"
              },
              {
                "name": "caption",
                "value": "=✅ สร้างเสร็จแล้ว!\n\n📝 {{ $json.text }}\n🔄 Arc: {{ $json.arc_curve }}°\n🔗 {{ $json.url }}"
              }
            ]
          },
          "options": {}
        },
        "id": "802ad5f2-ea54-4d8c-b756-92c2ec514dff",
        "name": "Send Photo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [1776, 1328]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"success\": true, \"arc_curve\": {{ $json.arc_curve }} }",
          "options": {}
        },
        "id": "9e509a8f-4e38-42e0-856c-4f8e02b6dee8",
        "name": "Done",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [2000, 1328]
      }
    ],
    "connections": {
      "Form Webhook": {
        "main": [
          [
            {
              "node": "Get Enhanced HTML Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Enhanced HTML Form": {
        "main": [
          [
            {
              "node": "Replace Values",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Values": {
        "main": [
          [
            {
              "node": "Show Form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit Webhook": {
        "main": [
          [
            {
              "node": "Build Enhanced URL (Arc Curve)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Enhanced URL (Arc Curve)": {
        "main": [
          [
            {
              "node": "Send Photo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Photo": {
        "main": [
          [
            {
              "node": "Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "meta": {
      "enhancements": {
        "arc_curve": {
          "range": "-180° to 180°",
          "recommended": "30° to 60°",
          "brand_critical": true,
          "validation": "Built-in range validation",
          "precision": "1 decimal place"
        }
      }
    }
  }
}
